.logo {
    width: 40%;
    padding: 3em 0 0 3em;
}

img {
    max-width: 100%;
}

.dino {
    max-width: 100%;
    display: block;
    margin-left: auto;
}

.logga {
    max-width: 100%;
    display: block;
    margin-left: auto;
}

.axis {
    max-width: 90%;
}

.axiscolors {
    max-width: 30%;
}

.genetec {
    max-width: 90%;
}

.geneteccolors {
    max-width: 30%;
}

.hik {
    max-width: 90%;
}

.hikcolors {
    max-width: 30%;
}

@media (max-width: 767px) {
    .logo {
        width: 20%;
    }
}

@media (max-width: 480px) {
    img {
        display: none;
    }

    .dino {
        display: none;
    }

    .logga {
        display: none;
    }
}
