@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../node_modules/normalize.css/normalize';

@import 'variables';
@import 'blockquotes';
@import 'code-dark';
@import 'typography-dark';
@import 'image';
@import 'technologies-dark';
@import 'technology-article-dark';
@import 'analysis-dark';
@import 'analysis-article-dark';

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&family=Poppins:wght@300&display=swap');

body {
    background-color: $background-alternative-color;
}

* {
    color: $font-alternative-color;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

a {
    filter: brightness(0.7) contrast(0.9);
}

img {
    filter: brightness(0.7) contrast(1.2);
}

.title * {
    color: $font-alternative-color;
}

.nav a,
.nav-toggle {
    color: $font-alternative-color;
}

.hidden {
    display: none !important;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $background-alternative-color;
    line-height: 1.5rem;
    text-align: center;
}

.main {
    flex: 1 0 auto;
    padding: 1em 5em;
}

.header {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    color: $font-alternative-color;
}

.footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $border-alternative-color;
    background-color: $footer-alternative-color;
    padding: 0.5em 1em;
    margin-top: auto;

    a {
        color: $font-alternative-color;
        padding-right: 1em;
    }

    .social {
        font-size: 2rem;
    }
}

.site-header {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .title {
        padding: 1em 1em 1em 0;
    }

    .main {
        flex: 1 0 auto;
        padding: 1em;
    }
}
