.technology-article {
    display: flex;
    flex-direction: row;
}

.article-content {
    padding: 8em 5em 5em 1em;
}

.sidebar {
    padding: 3em 4em;

    h3 {
        text-align: right;
    }

    a {
        text-decoration: none;
    }

    li {
        margin-top: 15%;
        list-style: none;
        text-align: center;
        background-color: $box-alternative-color;
        padding: 0.5em;
        border: 1px solid $border-alternative-color;;
    }

    li:hover {
        box-shadow: $box-alternative-shadow;
    }
}

@media (max-width: 767px) {
    .technology-article {
        flex-direction: column;
        display: flex;
    }

    .sidebar {
        display: none;
    }

    .article-content {
        padding: 1.5em;
    }
}
