$font-color: #0d0d0d;
$font-alternative-color: #f1f1f1;

$background-color: #f2f2f2;
$background-alternative-color: #262626;

$footer-color: #cdcdcd;
$footer-alternative-color: #0d0d0d;

$border-color: #0d0d0d;
$border-alternative-color: #f2f2f2;

$icon-color: #333;
$icon-alternative-color: #f2f2f2;

$box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
$box-alternative-shadow: 0 0 11px rgba(241, 241, 241, 0.2);

$box-color: #cdcdcd;
$box-alternative-color: #0d0d0d;

$icon-box-alternative-color: #404040;
