{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="technology-article" role="main">
        <div class="sidebar">
        <h3>Tech</h3>
        <ul>
        {% for page in pages("technology") %}
            <li><a href="{{ page.url }}">
                {{ page.title }}
            </a></li>
        {% endfor %}
        </div>
        </ul>

        <div class="article-content">
            {{ content }}

        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>
